body {
    background: #F4F4F4;
    margin: 0;
}

#container {
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
}

#container-wrap {
    padding-bottom: 2.0rem;
    padding-left: 200px;
}

#sidebar {
    position: absolute;
    float: left;
    width: 200px;
    height: 100%;
    background: #7171c1;
    margin: 0;

}

#button {
    position: fixed;
    float: right;
    padding-right: 50px;
}

#sidebar ul li {
    color:rgba(230, 230, 230, 0.9);
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    padding: 16px 0 16px 5px;
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

#header {
    text-align: center;
    padding: 45px 0px 20px 40px;
}

#header a {
    color: #cc3300;
    text-decoration: none;
    font-size: 30px;
    font-family: "Comic Sans MS", "Arial Narrow";
}

#login{
    position: absolute;
    right: 75px;
    top: 70px;
    font-size: 10px;

}

#menu {
    background-color: #3b3b87;
    padding: 6px 0 6px 40px;
}

#menu a {
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow", "Myriad Pro";
}

#menu a:hover {
    color: #ecf2f3;
}

h1 {
    position: fixed;
    float: right;
    margin: 0 50% 0 0;
}

h2 {
    color: #3b7687;
    font-size: 150px;
    margin: 20px 0 5px 0;
}

#main {
    padding: 10px 0 500px 250px;
    color: #444444;
    font-family: "Georgia";
    height: 100%;
    font-size: 100px;
    line-height: 40px;
    text-align: left;
}

#main a {
    color: #3b7687;
    text-decoration: none;
}

#main a:hover {
    color: #444444;
}

#questions {
    font-size: 20px;
}

#questions ul li {
    text-decoration: none;
    list-style: none;
    padding: 0 0 15px 0;
}

.input-field {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50%;
    text-align: center;
}

#submit{
    width: 200px;
    padding: 5px;
    margin-top: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.0rem;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 15px;
    text-align: right;
}

#footer a {
    text-decoration: none;
    color: #262626;
}

#footer a:hover {
    color: #666666;
}

.separator {
    font-size: 11px;
    color: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
